[Unit]
Description=CT Flag Monitor Service
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ct.sh monitor
StandardOutput=append:/var/log/ct.log
StandardError=append:/var/log/ct.err.log
TimeoutSec=60
TimeoutStartSec=30
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target 